/*
RESET
---- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
LAYOUT
---- */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  color: #111;
  font-family: helvetica, arial, sans-serif;
  background: #fdfdfd;
}

/*
CHROME
---- */
header,
nav {
  background: #f4f0f0;
  border: 0 solid #ddd;
}

header {
  position: absolute;
  width: 100%;
  height: 4rem;
  border-bottom-width: 1px;
  transform: rotate(-2deg);
  transform-origin: 0 0;
  white-space: nowrap;
}

header h1 {
  max-width: 43.2rem; /* 48rem - 2.4rem * 2 */
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 100;
  transform: rotate(2deg);
  transform-origin: 0 0;
}

header a {
  color: inherit;
  text-decoration: none;
}

header span {
  padding-left: 20px;
  font-size: .8em;
  color: #444;
}

/* Nav */
nav {
  order: 1;
  border-top-width: 1px;
}

nav ul {
  display: flex;
  margin: .5rem;
  justify-content: center;
  list-style: none;
}

nav a {
  display: block;
  margin: 0 .25rem;
  padding: 0 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: #fff;
  background: #444;
  border-radius: 3px;
}

nav a:hover,
nav a:focus {
  background: #555;
}

nav a:active {
  background: #666;
}

nav li:first-of-type a {
  background: #006;
}

nav li:first-of-type a:hover,
nav li:first-of-type a:focus {
  background: #008;
}

nav li:first-of-type a:active {
  background: #009;
}

/*
EDIT INTERFACE
---- */
textarea {
  flex-grow: 1;
  align-self: center;
  width: 100%;
  max-width: 48rem;
  padding: 4.8rem 2.4rem 2.4rem;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.8;
  border: 1px solid #f4f4f4;
  border-width: 0 1px;
  resize: none;
  outline: none;
}

textarea:focus {
  background: #fffff4;
}

/*
PRESENT MODE
---- */
main {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

main:target {
  visibility: visible;
}

/*
PRESENT MODE
---- */

/* Slides */
main {
  background: #445;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 4.2rem;
  font-size: 2rem;
  line-height: 1.2;
  color: #fff;
  overflow: hidden;
  word-break: break-word;
}

section * {
  padding-bottom: 1rem;
  font-weight: 100;
}

section h1,
section h2 {
  font-size: 3.4rem;
  text-align: center;
}

section h1 {
  font-size: 4.2rem;
}

/* Titles */
.slide--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide--centered h1 + p {
  font-size: 2.8rem;
}

.slide--centered h2 + p {
  font-size: 2.4rem;
}

/* Code */
pre {
  color: #af6;
}

/* Full Bleed Images */
.full-bleed {
  position: absolute;
  width: 100%;
  height: 100%;
  background: center;
  background-size: cover;
}

/* Image Galleries */
.gallery {
  display: flex;
  margin: 0 -2.1rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  list-style: none;
}

.gallery li {
  padding: .1rem;
  max-width: 33%;
}

.gallery img {
  display: block;
  padding: 0;
  max-width: 100%;
  max-height: 25vh;
}

/* End Slide */
.slide--end {
  background: #000;
}

/* Present Transitions */
section {
  opacity: 0;
}

.current {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
